<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>즐 커뮤니티</title>
    <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
    
    <div class="header-top">
        <a href="/"><div><img src = "/resources/logo.png" height="100"></div></a>
        
        <a href="/login" class="head-rt">
            <span><img src="/resources/login.png" height="30"></span>
        </a>
        <a href="/post" class="head-lf">
            <span><img src="/resources/post.png" height="30"></span>
        </a>
    </div>
    <hr/>

    <div>
        <h1 style="text-align: center;">즐 커뮤니티는 로그인이 필요 없습니다!</h1>
        <h3 style="text-align: center;">메인화면에서 공지사항을 읽어주세요!</h3>
    </div>
</body>


</html>